In [1]:
import numpy as np
import csv
import matplotlib.pyplot as mpl
import os
import pandas as pd
import tarfile
from six.moves import urllib

In [2]:
COVID_PATH = os.path.join("COVID-19")

def load_covid_data(covid_path = COVID_PATH):
    csv_path = os.path.join(covid_path, "time_series_covid19_confirmed_global.csv")
    return pd.read_csv(csv_path)

In [3]:
covid = load_covid_data()
covid.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,110,120,170,174,237,273,281,299,349,367
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,197,212,223,243,259,277,304,333,361,377
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,454,511,584,716,847,986,1171,1251,1320,1423
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,308,334,370,376,390,428,439,466,501,525
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,5,7,7,7,8,8,8,10,14,16