# Flattening the COVID-19 Curve



### Context

Coronaviruses are a large family of viruses which may cause illness in animals or humans. In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19 - World Health Organization

The number of new cases are increasing day by day around the world. This dataset has information from the states and union territories of India at daily level.

State level data comes from Ministry of Health & Family Welfare

Individual level data comes from covid19india


### Inspiration

Looking for data based suggestions to stop / delay the spread of virus


### Acknowledgements


Thanks to Indian Ministry of Health & Family Welfare for making the data available to general public.

Thanks to covid19india.org for making the individual level details and testing details available to general public.

Thanks to Wikipedia for population information.

Photo Courtesy - https://hgis.uw.edu/virus/

In [4]:
#Loading required packages

import numpy as np
import csv
import matplotlib.pyplot as plt
import os
import pandas as pd
import tarfile
from six.moves import urllib

Note : All data files are saved under covid_india/ directory

In [7]:
for dirname, _, filenames in os.walk('/home/yash/projects/prediction_project/covid_india'):
    for filename in filenames:
        print(os.path.join(filename))

population_india_census2011.csv
HospitalBedsIndia.csv
AgeGroupDetails.csv
ICMRTestingLabs.csv
ICMRTestingDetails.csv
covid_19_india.csv
StatewiseTestingDetails.csv
IndividualDetails.csv

In [11]:
#Initialising Age Group Details
age_group_data = pd.read_csv('/home/yash/projects/prediction_project/covid_india/AgeGroupDetails.csv')
age_group_data.head()

   Sno AgeGroup  TotalCases Percentage
0    1      0-9          22      3.18%
1    2    10-19          27      3.90%
2    3    20-29         172     24.86%
3    4    30-39         146     21.10%
4    5    40-49         112     16.18%

In [14]:
hospital_beds_india = pd.read_csv('/home/yash/projects/prediction_project/covid_india/HospitalBedsIndia.csv')
hospital_beds_india.head()

,Sno,State/UT,NumPrimaryHealthCenters_HMIS,NumCommunityHealthCenters_HMIS,NumSubDistrictHospitals_HMIS,NumDistrictHospitals_HMIS,TotalPublicHealthFacilities_HMIS,NumPublicBeds_HMIS,NumRuralHospitals_NHP18,NumRuralBeds_NHP18,NumUrbanHospitals_NHP18,NumUrbanBeds_NHP18,Unnamed: 12,Unnamed: 13
0,1.0,Andaman & Nicobar Islands,27,4,NaN,3,34,1246,27.0,575.0,3.0,500.0,NaN,NaN
1,2.0,Andhra Pradesh,1417,198,31,20,1666,60799,193.0,6480.0,65.0,16658.0,NaN,NaN
2,3.0,Arunachal Pradesh,122,62,NaN,15,199,2320,208.0,2136.0,10.0,268.0,NaN,NaN
3,4.0,Assam,1007,166,14,33,1220,19115,1176.0,10944.0,50.0,6198.0,NaN,NaN
4,5.0,Bihar,2007,63,33,43,2146,17796,930.0,6083.0,103.0,5936.0,NaN,NaN

In [15]:
hospital_beds_india.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Sno                               37 non-null     float64
 1   State/UT                          37 non-null     object
 2   NumPrimaryHealthCenters_HMIS      37 non-null     object
 3   NumCommunityHealthCenters_HMIS    37 non-null     object
 4   NumSubDistrictHospitals_HMIS      30 non-null     object
 5   NumDistrictHospitals_HMIS         37 non-null     object
 6   TotalPublicHealthFacilities_HMIS  37 non-null     object
 7   NumPublicBeds_HMIS                37 non-null     object
 8   NumRuralHospitals_NHP18           37 non-null     float64
 9   NumRuralBeds_NHP18                37 non-null     float64
 10  NumUrbanHospitals_NHP18           37 non-null     float64
 11  NumUrbanBeds_NHP18                37 non-null     float64
 12  Unnamed: 12                       0 non-null      float64
 13  Unnamed: 13                       0 non-null      float64
dtypes: float64(7), object(7)
memory usage: 4.3+ KB